doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Cyclops Lang Generator
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/homepage.css")
  body
    .container
      .row
        .col-sm-12
          .jumbotron
            h2
              span.aegean 𐙀&nbsp;&nbsp;
              span Cyclops Language Generator
            h3 Code computers in any human language 
      .row
        .col-sm-4
          h3
            img(src="/images/languages.png")
            span Languages
          p List of recently produced languages:
          ul
            for lang in recentLanguages
              li
                a(href="/api/#{lang.name}")
                  span.capital #{lang.name}
                if lang.author
                  span &nbsp;by #{lang.author}
                if lang.humanlanguage
                  span &nbsp;based on #{lang.humanlanguage}
        .col-sm-4
          h3
            img(src="/images/makingmore.png")
            span Coding More
          p
            span We want to cover many more languages!
            br
            span You can make a programming language in your native language, or offer a reward for a new language.
          form.form(action="/reward", method="GET")
            .form-group
              input.form-control(name="language", value="", placeholder="Language name", required)
              input.btn.btn-primary(type="submit", value="Request")
          
        .col-sm-4
          h3
            img(src="/images/diy.png")
            span Make Your Own
          p It takes only 23 keywords to make a new language, including: addition and subtraction signs, the print command, and a repeat:
          form.form(action="/start", method="GET")
            .form-group
              input.form-control(name="name", value="", placeholder="Language name", required)
              input.btn.btn-success(type="submit", value="Get Started")
      hr
      .row
        .col-sm-12
          small
            span Project source code open source&nbsp;
            a(href="https://github.com/mapmeld/cyclops") on GitHub
          br
          small Icons CC-BY Jakob Vogel, Claudiu Antohi, and Bernar Novalyi via the Noun Project
    
