doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Cyclops Lang Generator
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
  body
    .container
      .row
        .col-sm-12
          .jumbotron
            h2 Cyclops Language Generator
            h3 Code computers in any human language 
      .row
        .col-sm-4
          h3 Languages
          p List of recently produced languages:
          ul
            for lang in recentLanguages
              li
                a(href="/api/#{lang.name}")
                  span.capital #{lang.name}
                  if lang.author
                    span &nbsp;by #{lang.author}
                  if lang.humanlanguage
                    span &nbsp;based on #{lang.humanlanguage}
        .col-sm-4
          h3 Making More
          p We want to cover many more languages!
          p You can make a programming language in your native language, or set up a bounty for a new language.
        .col-sm-4
          h3 Make Your Own
          form.form(action="/start", method="GET")
            .form-group
              input.form-control(name="name", value="", placeholder="Language name", required)
              input.btn.btn-success.pull-right(type="submit", value="Get Started")
      hr
    
