@font-face {
  font-family: 'Aegean35';
  src: url(Aegean.ttf.gz);
}

html, body {
  font-family: sans-serif;
}

code, .linear {
  font-family: 'Aegean35', sans-serif;
}

code.plain {
  font-family: monospace;
}
